extends layout

block content
  #branding
    h1= title
    p A New Social Network

  include menu
  
  #content
    .panel
      div(data-new-post)
  
    div(data-posts-index, class="panel")
    
    -if (userID)
      
      .items
        -resultsData.forEach(function(resultsItem){
          -feedItem = resultsItem["feedItems"]
        
        -})
    
      .items
        -resultsData.forEach(function(resultsItem){
          -website = resultsItem["websites"]
          .item
            h3=website["properties"]["name"]
            form(action="/users/#{userID}/likes", method="post")
              fieldset
                input(type="hidden", name="interest", value="website")
                input(type="hidden", name="userID", value=userID)
                input(type="hidden", name="websiteID", value=website["_id"])
                .actions
                  button(type="submit", name="submit") Like
        -})