extends ../layout

block content
  #branding
    .picture
      a(href="/users/#{userID}")
        img(src=currentUser['picture'], alt=currentUser['name'], title=currentUser['name'])
    h1= title
    p #{title}

  include ../menu
  
  #content
    .users
      -users.forEach(function(user){
        -id = user['users']['_id']
        .user
          .avatar
            a(href="/users/#{userID}")
              img(src=user['users']['properties']['picture'], alt=user['users']['properties']['name'])
          dl
            dt Name
            dd
              a(href="/users/#{userID}")=user['users']['properties']['name']
            dt Gender
            dd
              a(href="/users/#{userID}")=user['users']['properties']['gender']
          .actions
            form(action="/users/#{userID}/follow", method="post")
              fieldset
                input(type="hidden", value=userID, name="userID")
                button(type="submit",name="follow", value=id) Follow
      -})

