extends ../layout

block content
  #branding
    .picture
      a(href="/users/#{userID}")
        img(src=currentUser['picture'], alt=currentUser['name'], title=currentUser['name'])
    h1= title
    p #{title}

  include ../menu
  
  #content
    .users
      .user
        .user
          .avatar
            a(href="/users/#{userID}")
              img(src=currentUser['picture'], alt=currentUser['name'])
          dl
            dt Name
            dd
              a(href="/users/#{userID}")=currentUser['name']
            dt Gender
            dd
              a(href="/users/#{userID}")=currentUser['gender']


    .items
      h2 Likes
      -userData.forEach(function(item){
        .item
          h3=item['websites']['properties']['name']
      -})
