extends ../layout

block content
  #branding
    .picture
      a(href="/users/2")
        img(src="https://begin-imitate.codio.io:9500/images/avatar-5.jpg", alt="Your profile picture")
    h1= title
    p #{title}

  include ../menu
  
  #content
    .users
      .user
        -id = userData[0]['user']['_id']
        -user = userData[0]
        .user
          .avatar
            a(href="/users/#{id}")
              img(src=user['user']['properties']['picture'], alt=user['user']['properties']['name'])
          dl
            dt Name
            dd
              a(href="/users/#{id}")=user['user']['properties']['name']
            dt Gender
            dd
              a(href="/users/#{id}")=user['user']['properties']['gender']

    .items
      h2 Likes
      -userData.forEach(function(item){
        .item
          h3=item['websites']['properties']['name']
      -})
